parameters:
    level: 6
    paths:
        - src
    excludePaths:
        - src/Macros
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors: []
